body {
    color: #bc4545;
    font-family: cursive;
    font-size: 22px;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    }
    
    span {
        font-size: small;
        font-family:inherit;
    }