body {
    color: #bc4545;
    font-family: cursive;
    font-size: 22px;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    }
    
span {
    font-size: small;
    font-family:inherit;
    }

ul {
    color: rgb(89, 11, 126);
    }
    
ol {
    color: rgb(36, 194, 178);
    }